@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to the Book Management System created by Sebastian Jaskiernik.</p>
    <p>Your last visit: @ViewData["LastVisit"]</p>
</div>
