@model IEnumerable<WebApplication3.Models.Publisher>

@{
    ViewData["Title"] = "Publishers";
}

<h2>Publishers list</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var publisher in Model)
        {
            @await Html.PartialAsync("_PublisherPartial", publisher)
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Add publisher</a>